body{
    background-color: darkblue;
    color:azure;
}

#page-top{
    background-color: blueviolet;
    border-bottom: 5px blue solid;
}


.menu-main{
    position:relative;
    width:auto;
}

.main-container{
    background-color: darkmagenta;
    background-image: url("img/");
}

.section-style{
    margin-left: 2%;
    margin-right: 2%;
}

.artist-info{

}
.artist-describe{

}
.artiste-website{

}

form{
    padding:1% 2%;
}



#page-footer{

}

.tab-container3{

}
.tab-container3-left{
    
}
.tab-container3-center{
    
}
.tab-container3-right{
    
}