body{
    background-color: darkblue;
    color:azure;
    background-image: url("https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position:inherit;
    background-size: 100%;
    background-attachment: fixed;
}
a{
    color: bisque;
    margin:1.2em;
    padding:0.2em;
    
}


.header-div{
    background-color: blueviolet;
    border-bottom: 5px blue solid;
}
nav.header-div, nav.menu-main{
    display: inline;
    align-content: center;
    padding: ;
}

a.header-div, a.menu-main{
    color:snow;
    text-decoration: underline;
    background-color: rgba(44, 43, 79, 0.744);
    
}

.menu-main{
    position:relative;
    width:auto;
    
    display: inline;
}

.main-container{
    background-color: rgba(43, 32, 43, 0.49);
    background-image:linear-gradient(rgba(43, 32, 43, 0.412) , rgba(28, 4, 105, 0.33),rgba(159, 150, 161, 0.133),rgba(159, 150, 161, 0));


    padding: 1%;
}

.section-style{
    margin-left: 2%;
    margin-right: 2%;
}

.artist-info{

}
.artist-describe{

}
.artiste-website{

}

form{
    padding:1% 2%;
}



#page-footer{
    background-color: rgb(57, 2, 108);
    border-top: 5px white solid ;
    


}

.tab-container3{

}
.tab-container3-left{
    
}
.tab-container3-center{
    
}
.tab-container3-right{
    
}